.cruises__wrapper {
  padding: 112px 15px 120px;
  color: $white;

  @include vp-1366 {
    padding: 91px 15px 100px;
  }

  @include vp-768 {
    padding: 57px 10px 65px;
  }

  h2 {
    font-family: $ff-semibold;
    font-size: 28px;
    line-height: 42px;
    color: $dark;
    text-align: center;
    margin: 0 0 48px;

    @include vp-1366 {
      font-size: 26px;
      line-height: 39px;
    }

    @include vp-768 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 30px;
    }
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  h3 {
    position: absolute;
    left: 30px;
    bottom: 22px;
    font-family: $ff-medium;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    padding-right: 20px;

    @include vp-1366 {
      left: 35px;
      bottom: 27px;
    }

    @include vp-768 {
      left: 25px;
      bottom: 18px;
    }
  }
}

.cruises__wrapper > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1024 {
    grid-template-columns: repeat(3, 1fr);
  }

  @include vp-1366 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1120px;
    margin: 0 auto;
  }

  @include vp-768 {
    grid-template-columns: 1fr;
    max-width: 550px;
  }

  & > li {
    position: relative;
    background-color: $dark;
    height: 386px;
  }
}

.cruises__wrapper > ul > li > div:first-child {
  height: 100%;
  width: 100%;
  overflow: hidden;
  filter: saturate(120%);

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(to top, $dark, transparent, transparent);
  }
}

.cruises__wrapper > ul > li > div:last-child {
  display: none;

  ul {
    display: flex;
    flex-direction: column;
    max-height: 240px;
    overflow: scroll;
    gap: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  h4 {
    font-family: $ff-medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
  }

  p {
    font-family: $ff-regular;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    opacity: 0.9;
  }

  a {
    display: block;
    font-family: $ff-semibold;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    text-decoration: none;
    color: $dark;
    text-align: center;
    background-color: $white;
    padding: 10px;
    cursor: pointer;

    &:hover {
      color: $white;
      background-color: $darkbg;
    }

    &:active {
      color: $white;
      background-color: $darkbg;
      opacity: 0.5;
    }
  }
}

.cruises__wrapper > ul > li:hover {
  div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 70px 25px 35px;

    @include vp-1366 {
      padding: 70px 35px 35px;
    }

    @include vp-768 {
      padding: 70px 25px 35px;
    }
  }

  h3 {
    left: 25px;
    top: 29px;
    bottom: auto;

    @include vp-1366 {
      left: 35px;
    }

    @include vp-1366 {
      left: 25px;
    }
  }

  div:first-child {
    display: none;
  }
}

.cruises__wrapper > ul > li > div:last-child ul::-webkit-scrollbar {
  width: 0;
}
