.footer {
  min-width: 320px;
  flex: 0 0 auto;
  background-color: $dark;
}

.footer__navigation {
  display: flex;
  padding: 50px 0;
  align-items: center;

  @include vp-1366 {
    padding: 44px 0;
  }

  @include vp-768 {
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 0 30px;
  }
}

.footer__logo-link {
  text-decoration: none;
  margin-right: 22px;

  @include vp-1366 {
    margin-right: 15px;
  }

  @include vp-768 {
    margin: 0 0 25px 0;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__logo-image {
  @include vp-1366 {
    width: 38px;
    height: 20px;
  }

  @include vp-768 {
    width: 42px;
    height: 22px;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 630px;
  row-gap: 10px;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;

  @include vp-1366 {
    max-width: 460px;
  }

  @include vp-768 {
    flex-direction: column;
    gap: 7px;
    margin-bottom: 10px;
  }
}

.footer__link {
  font-family: $ff-medium;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-decoration: none;
  padding: 8px 17px;

  @include vp-1366 {
    font-size: 12px;
    line-height: 15px;
    padding: 5px 11px;
  }

  @include vp-768 {
    display: block;
    padding: 5px 5px 5px 0;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 200px;
  column-gap: 10px;
  transform: translate(8px, 3px);
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1366 {
    column-gap: 7px;
    max-width: 140px;
    transform: translate(5px, 2px);
  }

  @include vp-768 {
    margin-left: -14px;
  }
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 38px;

  @include vp-1366 {
    width: 30px;
    height: 30px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__social-image {
  display: block;

  @include vp-1366 {
    height: 50%;
  }
}
