// Colors

$dark: #011c40;
$white: #f9fbfd;
$darkbg: #06418b;
$default-white: #ffffff;

// fonts

$ff-regular: "Montserrat Regular", "Arial", sans-serif;
$ff-medium: "Montserrat Medium", "Arial", sans-serif;
$ff-semibold: "Montserrat Semibold", "Arial Bold", sans-serif;
$ff-bold: "Montserrat Bold", "Arial Bold", sans-serif;

// viewport

$vp-768: 767px;
$vp-1366: 1366px;
