// Colors

$dark: #011c40;
$white: #f9fbfd;
$darkbg: #06418b;
$lightbg: rgba(227, 236, 246, 0.9);
$default-white: #ffffff;

// fonts

$ff-regular: "Montserrat Regular", "Arial", sans-serif;
$ff-medium: "Montserrat Medium", "Arial", sans-serif;
$ff-semibold: "Montserrat Semibold", "Arial", sans-serif;
$ff-bold: "Montserrat Bold", "Arial Bold", sans-serif;

// viewport

$vp-768: 767px;
$vp-1366: 1023px;
$vp-1024: 1365px;
