.header__wrapper {
  min-height: 650px;
  background: center / cover no-repeat url("../img/greeting_bg.jpg") $darkbg;

  @include vp-1366 {
    min-height: 638px;
  }

  @include vp-768 {
    position: relative;
    min-height: 500px;
    background-size: auto 130%;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  padding: 35px 0;
  margin-bottom: 100px;

  @include vp-768 {
    padding: 20px 0;
    margin-bottom: 50px;
  }
}

.header__logo-link {
  display: block;
  margin-right: auto;
  padding-right: 50px;
}

.header__logo-image {
  @include vp-1366 {
    width: 38px;
    height: 20px;
  }

  @include vp-768 {
    width: 42px;
    height: 22px;
  }
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  list-style: none;
  margin: 0 -17px 0;
  padding: 0;

  @include vp-1366 {
    max-width: 610px;
    margin-right: -11px;
  }

  @include vp-768 {
    display: none;
  }
}

.header__item {
  margin: 8px 17px;

  @include vp-1366 {
    margin: 0 11px;
  }
}

.header__link {
  font-family: $ff-medium;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-decoration: none;

  @include vp-1366 {
    font-size: 14px;
    line-height: 17px;
  }
}

.header__button {
  display: none;

  @include vp-768 {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 15px;
    top: 10px;
    background: right 15px no-repeat url("../img/burger_icon.svg") transparent;
    border: none;
  }
}

.header__navigation--opened {
  @include vp-768 {
    display: block;
    position: absolute;
    background-color: $white;
    width: 285px;
    height: 100vh;
    right: 0;
    padding: 75px 30px 0 15px;

    &::before {
      content: "";
      position: absolute;
      left: 15px;
      top: 20px;
      width: 42px;
      height: 22px;
      background-image: url("../img/logo_dark.svg");
    }
  }
}

.header__navigation--opened .header__logo-link {
  @include vp-768 {
    display: none;
  }
}

.header__navigation--opened .header__list {
  @include vp-768 {
    display: block;
    padding-left: 10px;
    text-align: left;
  }
}

.header__navigation--opened .header__item {
  @include vp-768 {
    padding: 10px 10px 8px;
    margin-bottom: 10px;
  }
}

.header__navigation--opened .header__link {
  @include vp-768 {
    color: $dark;
    font-size: 18px;
    line-height: 22px;
  }
}

.header__navigation--opened .header__button {
  @include vp-768 {
    background: right 15px no-repeat url("../img/close_icon.svg") transparent;
    border: none;
  }
}

.header__navigation--opened + .header__welcome {
  @include vp-768 {
    display: none;
  }
}
